* {
    padding: 0px;
    margin: 0px;
}

.heading {
    background-color: rgb(212, 219, 21);
    color: rgba(229, 12, 12, 0.889);
    text-align: center;
    font-size: 50px;
    font-style: italic;
    border-radius: 10px;
    font-family: 'Times New Roman';
    margin: 50px;
    text-transform: initial;
}

#table1 {
    border: 1% solid;
    border-radius: 100px;
    padding: 1px;
    margin: auto;
}

.ID1 {
    border: 1px solid;
    padding: 0px;
    margin: 2px;
}

marquee {
    direction: ltr;
    font-size: 50px;
    color: blue;
}

div {
    width: 200px;
    height: 100px;
    background-color: rgb(6, 96, 84);
    transition: width 1s;
    transition-delay: 3s;
    text-align: center;
    color: white;
}

div:hover {
    width: 100%;
}